<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="test_2.Properties.Settings.McDonaldDataConnectionString"
        connectionString="Data Source=LAPTOP-4372HT1C;Initial Catalog=McDonaldData;Persist Security Info=True;User ID=Ian89"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
